*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    position: absolute;
    position: fixed;
    z-index: 5;
}
img{
    width: 50px;
    height: 50px;
}
.list1{
    float: right;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.list1 li{
    list-style: none;
     display: inline-block;
     margin: 0px 10px;
}
.list1 li a{
    text-decoration: none;
    color: white;
    
}
.div1{
    width: 100%;
    height: 100vh;
    background-image: url(../images/544824243_18065397698586884_8388408001413746659_n.jpg);
    
    position: relative;
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
   
   
    
}
.overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.2);
}
.overlay-info{
    width: 700px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: beige;
    position: absolute;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.pargraph-overlay{
    font-size: 20px;
}
.overlay-btn1{
    width: 140px;
    height: 40px;
    font-size: 15px;
    border-radius: 25px;
}
.overlay-btn1:hover{
    background-color: gray;
}
.search{
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  
}
.search input{
    border-radius: 10px;
     width: 200px;
     height: 30px;
}
.search i{
    margin-left: -190px;
    color: gray;
}
.search input:not(:placeholder-shown) +i{
    display: none;
}

.div2{
    width: 100%;
    height: 100vh;
}
.website-info{
    text-align: center;
    
}
.website-title{
   padding-top: 50px;
   font-size: 50px;
}

.website-line{
    width: 100px;
    height: 3px;
    background-color: black;
    margin: auto;
}
.website-content{
    overflow: auto;
    padding-top: 100px;
    margin-left:160px;

}

.website-content1 i,.website-content2 i,.website-content3 i{
    font-size: 30px;
    color: brown;
}
.website-content2{
    margin: 0px 50px;
   
}
.website-content1,.website-content3,.website-content2{
    width: 370px;
    height: 240px;
    border: 2px solid grey;
    border-radius: 10px;
    float: left;
    text-align: center;
    padding-top: 40px;
    line-height: 40px;
    position: relative;
}
.website-content1::after,.website-content3::after,.website-content2::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: grey;
    opacity: 0;
    transition: 1s;
}
.website-content1:hover:after,.website-content3:hover::after,.website-content2:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.website-content2{
    margin: 0px 50px;
   
}

.website-a1,.website-a2,.website-a3{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    position: relative;
    z-index: 2;
}


.div3{
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    overflow: auto;
}

.works-info{
    text-align: center;
    
}
.works-title{
   padding-top: 50px;
   font-size: 50px;
}

.works-line{
    width: 100px;
    height: 3px;
    background-color: black;
    margin: auto;
}
.works-website1{
    margin-left: 350px;
    padding-top: 30px;
}
.works-div1,.works-div2,.works-div3{
    float: left;
    width: 250px;
    height: 200px;
}
.works-overlay1,.works-overlay2,.works-overlay3,.works-overlay4,.works-overlay5,.works-overlay6{
    width: 250px;
    height: 200px;
    opacity: 0;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 20px;
    line-height: 30px;
}
.works-overlay1:hover ,.works-overlay2:hover,.works-overlay3:hover,.works-overlay4:hover ,.works-overlay5:hover,.works-overlay6:hover {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}
.heart{
    background-color: white;
    font-size: 25px;
    color: grey;
}
.salla{
    font-size: 25px;
    color: white;
}
.works-div1{
    background-image: url(../images/549283416_18154905007382101_7420790964618441683_n.jpg);
    background-size: cover;
}
.works-div2{
    margin: 0px 30px;
    background-image: url(../images/552608445_18155304688382101_3699316272737280602_n.jpg);
    background-size: cover;
}
.works-div3{
background-image: url(../images/532366878_18151731679382101_688374786714700035_n.jpg);
background-size: cover;
}

.works-website2{
    margin-left: 350px;
    padding-top: 180px;
    width:1000px;
  
}
.works-div4,.works-div5,.works-div6{
    width: 250px;
    height: 200px;
    float: left;
    margin-top: 50px;
}
.works-div4{
     background-image: url(../images/545371092_18065397716586884_5996813290298264803_n.jpg);
   
    background-size: cover;
    
}
.works-div5{
    margin-left: 30px;
    margin-right: 30px;
    background-image: url(../images/516496094_18148309456382101_7578996082733968051_n.jpg);
    background-size: cover;
    
}
.works-div6{
background-image: url(../images/لقطة\ شاشة\ 2025-09-22\ 152929.png);
background-size: cover;

}
.div4{
    width: 100%;
    height: 100vh;
}
.offer-info{
    text-align: center;
    
}
.offer-title{
   padding-top: 50px;
   font-size: 50px;
}

.offer-line{
    width: 100px;
    height: 3px;
    background-color: black;
    margin: auto;
}

.offer1{
  overflow: auto;
  width: 80%;
  height: 210px;
  margin-left: 10%;
  margin-top: 20px;
}
.offer1-div1,.offer1-div2,.offer1-div3{
  width: 30%;
  height: 210px;
  border: 2px solid gray;
  border-radius: 15px;
  float: left;
  line-height: 30px;
  position: relative;
}
.offer1-div2{
    margin-left: 5%;
    margin-right: 5%;
}
.offer1-par1,.offer1-par2,.offer1-par3{
    word-spacing: 5px;
    color: grey;
}
.offer1-crown,.offer1-magic,.offer1-salla{

    font-size: 40px;
}

.offer1-crown i,.offer1-magic i,.offer1-salla i{
    margin-top: 20px;
    margin-left: 5px;
    color: brown;
}
.offer1-info{
    margin-top: -35px;
    margin-left: 50px;
    text-align: center;
    width: 250px;
}
.offer1-div1::after,.offer1-div2::after,.offer1-div3::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: grey;
    opacity: 0;
    transition: 1s;
}
.offer1-div1:hover::after,.offer1-div2:hover::after,.offer1-div3:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.offer1-div1:hover .offer1-par1  ,.offer1-div2:hover .offer1-par2,.offer1-div3:hover .offer1-par3{
color: black;
}
.offer2{
  overflow: auto;
  width: 80%;
  height: 210px;
  margin-left: 10%;
  margin-top: 100px;

}
.offer2-div1,.offer2-div2,.offer2-div3{
  width: 30%;
  height: 210px;
  border: 2px solid gray;
  border-radius: 15px;
  float: left;
  line-height: 30px;
  position: relative;
}

.offer2-div2{
    margin-left: 5%;
    margin-right: 5%;
}
.offer2-par1,.offer2-par2,.offer2-par3{
    word-spacing: 5px;
    color: grey;
}
.offer2-external,.offer2-magic,.offer2-heart{

    font-size: 40px;
}

.offer2-external i,.offer2-magic i,.offer2-heart i{
    margin-top: 20px;
    margin-left: 5px;
    color: brown;
}
.offer2-info{
    margin-top: -35px;
    margin-left: 50px;
    text-align: center;
    width: 250px;
}
.offer2-div1::after,.offer2-div2::after,.offer2-div3::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: grey;
    opacity: 0;
    transition: 1s;
}
.offer2-div1:hover::after,.offer2-div2:hover::after,.offer2-div3:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.offer2-div1:hover .offer2-par1  ,.offer2-div2:hover .offer2-par2,.offer2-div3:hover .offer2-par3{
color: black;
}
.div5{
    width: 100%;
    height: 100vh;
}
.choose-info{
    width:500px;
    height: 350px;
    margin-left: 150px;
    margin-top: 100px;
    overflow: auto;
}
.choose-title{
    font-size: 40px;
}
.choose-line{
    width: 60px;
    height: 3px;
    background-color: gray;
    margin-top: 5px;
}
.choose-pargraph{
    font-size: 15px;
    line-height: 40px;
    color: gray;
}
.choose-par i{
    color: brown;
}
.choose-image{
    width: 350px;
    height: 400px;
    background-image: url(../images/549283416_18154905007382101_7420790964618441683_n.jpg);
    float: left;
    background-size: cover;
    margin-left: 1000px;
    margin-top: -340px;

}
.choose-circle{
    width: 250px;
    height: 100px;
    overflow: auto;
    margin-left: 1150px;
    
}
.circle1,.circle2,.circle3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
}
.circle1{
    background-color: brown;
}
.circle2{
    margin-left: 5px;
    margin-right: 5px;
    background-color: gainsboro;
}
.circle3{
    background-color: gainsboro;
}
.circle2:hover,.circle3:hover{
    background-color: brown;

}

.div6{
    width: 100%;
    
}
.rate{
width: 100%;
height: 350px;
background-image: url(../images/548633144_18065611844586884_1767480339916294384_n.jpg);
background-attachment: fixed;
background-size: cover;

}
.rate-info{
    overflow: auto;
    width: 1200px;
    height: 250px;
    margin-left: 220px;
}
.rate-div1,.rate-div2,.rate-div3,.rate-div4{
    width: 140px;
    height: 120px;
    float: left;
    padding-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
    color: aliceblue;
}
.rate-div1 i,.rate-div2 i,.rate-div3 i,.rate-div4 i{
    font-size: 30px;
    color: aliceblue;
}
.div7{
    width: 100%;
    height: 100vh;

}

.pricing-info{
    text-align: center;
    
}
.pricing-title{
   padding-top: 50px;
   font-size: 50px;
}

.pricing-line{
    width: 100px;
    height: 3px;
    background-color: black;
    margin: auto;
}
.pricing-table{
    width: 1500px;
    height: 500px;
    overflow: auto;
}
.pricing-table1,.pricing-table2,.pricing-table3{
    width: 300px;
    height: 400px;
    float: left;
    margin-left: 160px;
    margin-top: 50px;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
.pricing-table1::after,.pricing-table2::after,.pricing-table3::after{
position: absolute;
content: "";
width: 100%;
height: 0;
top: 0;
left: 0;
background-color: grey;
opacity: 0;
transition: 1s;
}
.pricing-table1:hover::after,.pricing-table2:hover::after,.pricing-table3:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.dolar1,.dolar2,.dolar3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 90px;
}

.btn-table1,.btn-table2,.btn-table3{
    width: 150px;
    height: 30px;
    background-color: rgba(165, 42, 42, 0.752);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    margin-top: 10px;
    border: 2px solid white;
    position: relative;
    z-index: 2;
}
.btn-table1:hover,.btn-table2:hover,.btn-table3:hover{
    background-color: brown;
}
.div8{
    width: 100%;
    height: 350px;
    background-image: url(../images/546735644_18065261018586884_5108061329457550431_n.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
.collection-1{
    width: 350px;
    height: 170px;
    float: left;
    margin-left: 300px;
    margin-top: 130px;
    overflow: auto;
}
.collection-2{
    width: 350px;
    height: 170px;
    float: left;
    margin-left: 400px;
    margin-top: 130px;
    overflow: auto;
}
.img-collection-1{
background-image: url(../images/لقطة\ شاشة\ 2025-09-22\ 152929.png);
width: 70px;
height: 70px;
border-radius: 50%;
background-size: cover;
float: left;

}
.img-collection-2{
background-image: url(../images/545371092_18065397716586884_5996813290298264803_n.jpg);
width: 70px;
height: 70px;
border-radius: 50%;
background-size: cover;
float: left;
}
.info-collection-1,.info-collection-2{
    padding-left: 80px;
    color: aliceblue;

}
.par-collection-1,.par-collection-2{
    padding-top: 30px;
     color: aliceblue;
}
.div9{
    width: 100%;
    height: 100vh;
}
.product-info{
    text-align: center;
    
}
.product-title{
   padding-top: 70px;
   font-size: 50px;
}

.product-line{
    width: 100px;
    height: 3px;
    background-color: black;
    margin: auto;
}
.product{
    width: 80%;
    height: 400px;
    overflow: auto;
    margin-top: 80px;
    margin-left: 10%;
}
.product-1,.product-2,.product-3{
    width: 30%;
    height:350px;
    background-color: gainsboro;
    float: left;
    border-radius: 10px;
    position: relative;
}

.product-2{
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}
.product1-img{
    background-image: url(../images/541550944_18390485377193331_4875562655224824090_n.jpg);
}
.product2-img{
    background-image: url(../images/548867449_18392114995193331_2483784575250054726_n.jpg);
}
.product3-img{
    background-image: url(../images/548889443_774050215490095_1681914684077643864_n.jpg); 
}
.product1-img,.product2-img,.product3-img{
    width: 80%;
    height: 230px;
    background-size: cover;
    margin-left: 10%;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.products-info{
    width: 80%;
    height: 100px;
    margin-left: 10%;
    text-align: center;
    line-height: 40px;
}
.product-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 1s;
}

.overlay-icon i{
    display: block;
    font-size: 30px;
    position: relative;
    z-index: 5;
}
.overlay-icon{
    width: 30px;
    margin-left: 260px;
   
}
.overlay-facebook{
    color: white;
}
.overlay-instgram{
    color: white;
}
.overlay-twitter{
    color: white;
}
.product-1:hover .product-overlay,.product-2:hover .product-overlay,.product-3:hover .product-overlay{
opacity:1;
}
.product-1:hover .products-info ,.product-2:hover .products-info,.product-3:hover .products-info  {
    color: aliceblue;

}
.product-1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color:grey;
    opacity: 0;
    transition: 1s;
     border-radius: 10px;
}
.product-1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.product-2::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top:  0;
    right: 0;
    background-color: grey;
    opacity: 0;
    transition: 1s;
     border-radius: 10px;
}
.product-2:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    
}

.product-3::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top:  0;
    right: 0;
    background-color: grey;
    opacity: 0;
    transition: 1s;
    border-radius: 10px;

}
.product-3:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    
}
.div10{
    width: 100%;
    height: 100vh;
}
.arrival-info{
    text-align: center;
    
}
.arrival-title{
   padding-top: 70px;
   font-size: 50px;
}

.arrival-line{
    width: 100px;
    height: 3px;
    background-color: black;
    margin: auto;
}
.arrival-container{
    width: 80%;
    height: 450px;
    margin-top: 50px;
    overflow: auto;
    margin-left: 10%;
}
.arrival1,.arrival2,.arrival3{
    width: 30%;
    height: 450px;
    float: left;
    border-radius: 20px;
    border: 1px solid grey;
    position: relative;

}
.arrival2{
    margin-left:5%;
    margin-right: 5%;
}
.img-arrival1{
    background-image: url(../images/550187679_18392465737193331_4994828447634719012_n.jpg);
}
.img-arrival2{
    background-image: url(../images/528037277_18386677900193331_3623611768674301428_n.webp);
}
.img-arrival3{
    background-image: url(../images/554354462_18393790417193331_6656084592828830617_n.jpg);
}

.img-arrival1,.img-arrival2,.img-arrival3{
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 30px 80px;
    border-radius: 10px;
    z-index: 3;
    position: relative;
}

.arrival1-info,.arrival2-info,.arrival3-info{
text-align: center;
padding-top: 20px;
line-height: 30px;
}
.arrival1-title,.arrival2-title,.arrival3-title{
    font-size: 20px;
}
.arrival-link{
    text-decoration: none;
    font-size: 15px;
    color: brown;
    position: relative;
    z-index: 2;
    width: 150px;
    height:30px;
    border-radius: 10px;
    margin-top: 10px;
}
.arrival-icon {
    display: flex;
    padding-left: 70px;
    font-size: 15px;
    letter-spacing: 2px;
    color: brown;
}
.arrival-icon i {
    margin-right: 5px;
    margin-left:10px;
}

.arrival1::after,.arrival2::after,.arrival3::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: grey;
    transition: 1s;
    border-radius: 15px;
}
.arrival1:hover::after,.arrival2:hover::after,.arrival3:hover::after{
    opacity: 0.4;
    width: 100%;
    height: 100%;
}
.div11{
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.3);
}
.image-div11{
    width: 250px;
    height: 200px;
    padding-top: 20px;
    margin-left: 640px;
}
.img-div11{
    width: 250px;
    height: 200px;
    background-image: url(../images/544812996_18422952940109078_8724469647709807366_n.jpg);
    background-size: cover;
    border-radius: 10px;
}
.div11-icon{
    width: 350px;
    height: 50px;
    display: flex;
    margin-top: 30px;
    margin-left: 605px;
}
.icon-face,.icon-instgram,.icon-linkedin,.icon-youtube,.icon-twitter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgba(0, 0, 255, 0.647);
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    word-spacing: 50px;
}
.icon-instgram{
    margin-left: 30px;
    margin-right: 30px;
}
.icon-youtube{
margin-left: 30px;
margin-right: 30px;
}
.icon-face:hover,.icon-instgram:hover,.icon-linkedin:hover,.icon-youtube:hover,.icon-twitter:hover{
     background-color: rgba(0, 0, 255, 0.901);
}
.thelast{
     margin-left: 645px;
     color: white;
}